/*Farbcodes:
#83BD0F: Primär-Grün
#003077: Primär-Blau
#F2F6EF: Sekundär-Grün Extra-Blass
#DBE9BD: Sekundär-Grün Blass
#00183B: Sekundär-Blau Dunkel
#568100: Sekundär-Grün Dunkel
#B8C5E0: Tertiär-Blau Mittel
#B7DE7D: Tertiär-Grün Mittel
#878B92: Tertiär-Grau
#DEE3ED: Tertiär-Blau Blass */

/* Lokale Fonts */
@font-face {
   font-family: 'Barlow Semi-Condensed';
   font-display: swap;
   /* font-weight: ??;*/
   src: local('BarlowSemiCondensed-Regular'), local('BarlowSemiCondensed-Regular'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.woff2') format('woff2'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('tff');
}

@font-face {
   font-family: 'Barlow Semi-Condensed Light';
   font-display: swap;
   src: local('BarlowSemiCondensed-Light'), local('BarlowSemiCondensed-Light'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.woff2') format('woff2'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf') format('tff');
}

@font-face {
   font-family: 'Barlow Semi-Condensed Medium';
   font-display: swap;
   src: local('BarlowSemiCondensed-Medium'), local('BarlowSemiCondensed-Medium'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.woff2') format('woff2'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf') format('tff');
}

@font-face {
   font-family: 'Barlow Semi-Condensed SemiBold';
   font-display: swap;
   src: local('BarlowSemiCondensed-SemiBold'), local('BarlowSemiCondensed-SemiBold'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf') format('tff')
}

@font-face {
   font-family: 'OpenSans Semi-Condensed Light';
   font-display: swap;
   src: local('OpenSans SemiCondensed-Light'), local('OpenSans SemiCondensed-Light'),
   url('fonts/Open_Sans/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.woff2') format('woff2'),
   url('fonts/Open_Sans/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.ttf') format('tff')
}

header, footer, nav {
   margin: 0;
   padding: 0;
   border:none;
}

.btn-hu {
   background-color: #83BD0F;
   border: none;
}

#logo {
   max-height: 4em;
   width: auto;
}

body {
   background-color: #F2F6EF;
   margin: 0 2% 0 2%;
   max-width: 1320px;
}

li.nav-item {
   vertical-align: middle;
}

.nav-link {
   color: #00183B;
   font-family: 'Barlow Semi-Condensed Light', Arial, Helvetica, sans-serif;
}

.nav-link:hover {
   color: #83BD0F;
}

.nav-active {
   font-weight: bold;
   color: #83BD0F;
   border-bottom: 1px solid #83BD0F;
}


.container {
   background-color: #F2F6EF;
}

h1 {
   font-family: 'Barlow Semi-Condensed', Arial, Helvetica, sans-serif;
   color: #003077;
}

p {
   font-family: 'OpenSans Semi-Condensed Light', Arial, Helvetica, sans-serif;

}

button a, a.btn-hu {
   color: #FFFFFF;
   font-family: 'Barlow Semi-Condensed Medium';
   text-decoration: none;
   padding: 6px;
}

 .navbar-light .navbar-nav .nav-link {
   color: #003077;
 }

.navbar-light .navbar-nav .nav-link.active {
   font-weight: bold;
   color:#83BD0F;
 }

 .navbar-light .navbar-nav .navlink:hover {
   color:#83BD0F;
 }

 @media screen and (min-width: 576px) {
   #welcome p {
   column-count: 2;
   column-gap: 5%;
   column-fill: balance-all;
 }
}

#welcome {
   background-color:#FFFFFF;
   box-shadow: 0 4px 3px -2px #878b9255;
   padding: 30px 40px;
}

h1.display-3 {
   font-variant-caps: small-caps;
}

.form-box {
   background-color:#003077;
}

.form-box p a {
   color: #FFFFFF;
   padding: 20px;
}

.form-box p {
   padding: 20px;
}

hr {
   border-color:#83BD0F !important;
   border: solid 1px;
   border-radius: 4px;
   margin: 0px;
}

section {
   padding: 30px 40px;
   /*BORDER nur für Arbeitszwecke
   border: solid 1px black;*/
}

section:nth-of-type(2n) {
   background-color:#FFFFFF;
}

div.carousel-caption {
   background-color: rgba(128, 128, 128, 0.379);
}

#logo {
   max-height: 50px;
}

.jumbotron {
   margin-bottom: 0;
}