// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// Eigene Farbwerte
$primary: #83BD0F; // Primär-Grün
$secondary: #003077; // Primär-Blau
$light: #F2F6EF; // Sekundär Grün Extra-Blass
$dark: #00183B; // Sekundär-Blau Dunkel
$info: #DBE9BD; // Sekundär-Grün Blass
$success: #B7DE7D; // Tertiär-Grün Mittel
$warning: #B8C5E0; // Tertiär-Blau Mittel
$danger: #DEE3ED; // Tertiär-Blau Blass

$font-family-sans-serif: "Barlow Semi-Condensed", Roboto, Arial, sans-serif;

$bs-btn-color: #FFF;
$btn-color: #FFF;

$carousel-control-color: #FFF;
$carousel-control-opacity: 1;

$h6-font-size: 0.75rem;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Custom code

// Lokale Fonts
@font-face {
   font-family: 'Barlow Semi-Condensed';
   font-display: swap;
   /* font-weight: ??;*/
   src: local('BarlowSemiCondensed-Regular'), local('BarlowSemiCondensed-Regular'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.woff2') format('woff2'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('tff');
}

@font-face {
   font-family: 'Barlow Semi-Condensed Medium';
   font-display: swap;
   src: local('BarlowSemiCondensed-Medium'), local('BarlowSemiCondensed-Medium'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.woff2') format('woff2'),
   url('fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf') format('tff');
}

@font-face {
   font-family: 'OpenSans Semi-Condensed Light';
   font-display: swap;
   src: local('OpenSans SemiCondensed-Light'), local('OpenSans SemiCondensed-Light'),
   url('fonts/Open_Sans/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.woff2') format('woff2'),
   url('fonts/Open_Sans/static/OpenSans_SemiCondensed/OpenSans_SemiCondensed-Light.ttf') format('tff')
}

// Customization
html {
   font-size: 1rem;
}

body {
   max-width: 1320px;
}

nav {
   box-shadow: 0 0.25rem 0.25rem -0.125rem #878b9255;
}

#logo {
   max-height: 3rem;
   width: auto;
}

.nav-link {
   color: $secondary;
   font-family: $font-family-sans-serif;
   font-size: 1.25rem;
}

.nav-link:hover {
   color: $primary;
}

#navbarSupportedContent ul li {
   padding: 0 1rem 0 0;
}

.active a {
   color: $primary;
   text-decoration: underline;
   text-underline-offset: 0.5rem;
}

.jumbotron {
   border: 1px solid rgba(0, 0, 0, 0);
   background:url(media/HU_Keyvisual.jpg) no-repeat;
   background-size: cover;
}

h1 {
   color: $secondary;
}

h1.display-3 {
   font-variant-caps: small-caps;
}

p {
   font-family: 'OpenSans Semi-Condensed Light', Arial, Helvetica, sans-serif;
}



@media screen and (min-width: 576px) {
   #welcome p, #vereinsgeschichte, #mitgliedschaft {
   column-count: 2;
   column-gap: 5%;
   column-fill: balance-all;
 }
}

#welcome, #in-arbeit {
   box-shadow: 0 0.25rem 0.25rem -0.125rem #878b9255;
   padding: 2rem 2.5rem;
}

#in-arbeit-h5 {
   color: $primary;
   font-weight: bold;
}

section {
   padding: 2rem 2.5rem;
}

section:nth-of-type(2n) {
   background-color: $white;
}

button a {
   color: $white;
   font-family: 'Barlow Semi-Condensed Medium';
   text-decoration: none;
   padding: 0.4rem;
}

hr {
   border-color: $primary !important;
   border: solid 1px;
   border-radius: 0.25rem;
   margin: 0;
}

.form-box p {
   padding: 1.25rem;
}

.form-box p a {
   color: $white;
}

#uebersicht {
   --bs-aspect-ratio: 35.8%;
   margin-bottom: 0.6rem;
}
.card {
   margin: 0.25rem 0 0.6rem 0;
}

p.card-text span {
   font-weight: bold;
}

.card-title {
   margin-bottom: 1rem;
   color: $primary;
}

.news-item {
   background-color: $secondary;
   color: $light;
}

.news-item h3 {
   margin: 2rem 3rem 2rem 1.25rem;
}

.news-item p {
   margin: 2rem 3rem 4rem 1.25rem;
}

.carousel-control-prev-icon {
   position: absolute;
   bottom: 1.25rem;
   left: 1.25rem;
}

.carousel-control-next-icon {
   position: absolute;
   bottom: 1.25rem;
   right: 1.25rem;
}

#footer {
   position: relative;
   padding: 2rem 2.5rem 0 2.5rem;
}

#footer div h5 {
   color: $white;
   font-variant-caps: small-caps;
   padding-bottom: 0.25rem;
}

#footer div ul {
   list-style-type: none;
   padding-left: 0;
}

.footer-link, .socialMedia {
   font-family: 'OpenSans Semi-Condensed Light';
   color: $light;
}

.footer-link:hover, .socialMedia:hover {
   color: $primary;
}

#action-container > * {
   padding: 0 !important;
}

#to-top {
   position: absolute;
   bottom: 22.5rem;
   right: 1rem;
   border: 2px solid $primary;
   background-color: $white;
   padding: 0.25rem;
   z-index: 100;
   cursor: pointer;
   border-radius: 25%;
   font-weight: bold;
   box-shadow: 0 4px 3px -2px #878b9255;
}

@media screen and (min-width: 768px) {
   #to-top {
      bottom: 13.5rem;
   }
}

#to-top:hover {
   background-color: $primary;
   color: $white;
}